<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/home" routerLinkActive="active"  style="color: black;">Home</li>
      <li class="nav-item"   routerLink="/request" routerLinkActive="active" style="color: black;">Requests</li>
    </ul>
    <div class="user-info">
      <p style="color: black;">Welcome {{firstName}}</p>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>power_settings_new</mat-icon>
         <!-- <i class="fa fa-cog" aria-hidden="true" style="color: white;"></i> -->
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" mat-menu-item class="btn" (click)="auth.logout()">LogOut</button>
      </mat-menu>
    </div>
  </nav>