.user-info {
  display: flex;
  align-items: center;
  color:#fff;
}

.user-info p {
  margin: 0 10px;
}

.navbar {
  background-color: #d0d7ee;
  padding: 10px; 
}

.nav-list {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-item {
  display: inline-block; 
  margin-right: 20px; 
  font-size: 18px; 
}

.nav-item.active {
  font-weight: bold; 
  color: rgb(25, 26, 25);
}

.user-info {
  float: right; 
}

.user-info button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.user-info button:focus {
  outline: none; 
}
