<app-admin-header></app-admin-header>

<div class="Search">
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Search by Any Values</mat-label>
      <input matInput #filterInput (keyup)="applyFilter(filterInput.value)">
    </mat-form-field>

    <button mat-raised-button [matMenuTriggerFor]="belowMenu" color="primary" style="margin: 0.6%">
        Download
      </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
              <button mat-button  mat-button style="padding-left: 35px;" (click)="ExpoetExcel()">Excel </button>
          </mat-menu>
   
  </div>
  
  <!-- <section class="demo-table table-container mat-elevation" tabindex="0"> 
    <div  *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="FullName">
          <th mat-header-cell *matHeaderCellDef> Interpreter Name </th>
          <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
        </ng-container>
  
        <ng-container matColumnDef="City">
          <th mat-header-cell *matHeaderCellDef>Interpreter Location </th>
          <td mat-cell *matCellDef="let element">{{ element.city }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Languages">
          <th mat-header-cell *matHeaderCellDef>Interpreter Languages </th>
          <td mat-cell *matCellDef="let element">{{ element.languages }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openDialog(element)" mat-button color="warn">Request</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
     <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons aria-label="Select page of element"> </mat-paginator>
    </div> 
  
  </section> -->

  <!-- <div class="example-container">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="FullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Riskplan </th>
          <td mat-cell *matCellDef="let element" class='m-card-title' test data-label='Riskplan'>{{ element.fullName }}</td>
        </ng-container>
  
        <ng-container matColumnDef="City">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Form type </th>
          <td mat-cell *matCellDef="let element" class='m-card-sub-title' data-label='Form type'> {{ element.city }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Languages">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last modified </th>
          <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Last modified on'> {{ element.languages }} </td>
        </ng-container>
  

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openDialog(element)" mat-button color="warn">Request</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
  </div> -->
  
  <div class="card-container">
    <mat-card *ngFor="let item of dataSource.data" class="example-card mat-elevation-z8">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.fullName }}</mat-card-title>
        <mat-card-subtitle>{{ item.city }}</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-content>
        <p>{{item.languages}}</p>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-button  (click)="openDialog(item)" mat-button color="warn">Request</button>
      </mat-card-actions>
    </mat-card>
  </div>
  