<app-user-header></app-user-header>

<section class="center-section">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-6 mb-4 mb-lg-0" style="width: 85%;">
            <div class="card mb-3" style="border-radius: .5rem;">
              <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white">
                    <div>             
                       <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar" class="img-fluid my-5" style="width: 250px; height: 250px;" />

                       <h1><p style="color: black;">{{ getDataSourceValue('fullName') }}</p></h1>
                    </div>
                </div>
                <form [formGroup]="profileForm" class="col-md-8">
                  <div >
                    <div class="card-body p-4">
                      <h2 class="label">Information</h2>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1 data" >
                         <div class="col-4 mb-3">
                      <h2 class="label">Email</h2>
                      <p class="text-muted" style="width: 200%;">{{ getDataSourceValue('userName') }}</p>
                  </div>
                      <div class="col-4 mb-3"  style="padding-left: 20px;">
                      <h2 class="label">Contact</h2>
                      <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('phone') }}</p>
                      <input placeholder="phone" *ngIf="isEditMode" class="inputfield" type="text" name="phone" formControlName="phone" />
                  </div>
                  <div class="col-4 mb-3">
                      <h2 class="label">Languages</h2>
                      <p *ngIf="!isEditMode" class="text-muted" style="width: 96%;">{{ getDataSourceValue('languages') }}</p>
                      <mat-select placeholder="languages" *ngIf="isEditMode" class="inputfield" type="text" name="languages" formControlName="languages" multiple>
                        <mat-option *ngFor="let option of Language" [value]="option">{{ option }}</mat-option>
                      </mat-select>
                    </div>
                      </div>
                      <h2 class="label">Address</h2>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1 data">
                        <div class="col-3 mb-3">
                          <h2 class="label">Country</h2>
                        <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('country') }}</p>
                        <input placeholder="country" *ngIf="isEditMode" class="inputfield" type="text" name="country" formControlName="country" />
                      </div>
                      <div class="col-3 mb-3">
                        <h2 class="label">State</h2>
                        <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('state') }}</p>
                        <input placeholder="state" *ngIf="isEditMode" class="inputfield" type="text" name="state" formControlName="state" />
                      </div>
                      <div class="col-3 mb-3">
                        <h2 class="label">City</h2>
                        <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('city') }}</p>
                        <input placeholder="city" *ngIf="isEditMode" class="inputfield" type="text" name="city" formControlName="city" />
                      </div>
                      <div class="col-3 mb-3">
                        <h2 class="label">Postal Code</h2>
                        <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('zip') }}</p>
                        <input placeholder="zip" *ngIf="isEditMode" class="inputfield" type="text" name="zip" formControlName="zip" />
                      </div>
                      </div>
                      <div class="d-flex justify-content-start">
                          <div class="col" style="display: flex; justify-content: space-around;">
                            <div style="padding-top: 10px;">
                              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                              <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                              <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                            </div>
                              <div *ngIf="!isEditMode" >
                                <button mat-button  mat-button color="primary" (click)="editMode(true)">Edit</button>
                                <button mat-button  mat-button color="warn" (click)="deleteProfile()">Delete</button>
                              </div>
                              <div *ngIf="isEditMode" >
                                <button mat-button  mat-button color="primary" (click)="save()">Save</button>
                                <button mat-button  mat-button color="warn" (click)="editMode(false)">Cancel</button>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- <section class="center-section">
  <div class="container py-1 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0" style="width: 85%;">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white">
              <div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar" class="img-fluid my-5 avatar-img" />
                <h1><p style="color: black;">{{ getDataSourceValue('fullName') }}</p></h1>
              </div>
            </div>
            <form [formGroup]="profileForm" class="col-md-8">
              <div>
                <div class="card-body p-4">
                  <h2>Information</h2>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1 data">
                    <div class="col-12 mb-3">
                      <h2>Email</h2>
                      <p class="text-muted">{{ getDataSourceValue('userName') }}</p>
                    </div>
                    <div class="col-12 mb-3">
                      <h2>Contact</h2>
                      <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('phone') }}</p>
                      <input placeholder="phone" *ngIf="isEditMode" class="inputfield" type="text" name="phone" formControlName="phone" />
                    </div>
                    <div class="col-12 mb-3">
                      <h2>Languages</h2>
                      <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('languages') }}</p>
                      <mat-select placeholder="languages" *ngIf="isEditMode" class="inputfield" type="text" name="languages" formControlName="languages" multiple>
                        <mat-option *ngFor="let option of Language" [value]="option">{{ option }}</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <h2>Address</h2>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1 data">
                    <div class="col-12 mb-3">
                      <h2>Country</h2>
                      <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('country') }}</p>
                      <input placeholder="country" *ngIf="isEditMode" class="inputfield" type="text" name="country" formControlName="country" />
                    </div>
                    <div class="col-12 mb-3">
                      <h2>State</h2>
                      <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('state') }}</p>
                      <input placeholder="state" *ngIf="isEditMode" class="inputfield" type="text" name="state" formControlName="state" />
                    </div>
                    <div class="col-12 mb-3">
                      <h2>City</h2>
                      <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('city') }}</p>
                      <input placeholder="city" *ngIf="isEditMode" class="inputfield" type="text" name="city" formControlName="city" />
                    </div>
                    <div class="col-12 mb-3">
                      <h2>Postal Code</h2>
                      <p *ngIf="!isEditMode" class="text-muted">{{ getDataSourceValue('zip') }}</p>
                      <input placeholder="zip" *ngIf="isEditMode" class="inputfield" type="text" name="zip" formControlName="zip" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <div class="col social-icons">
                      <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                      <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                      <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                      <div *ngIf="!isEditMode">
                        <button mat-button color="primary" (click)="editMode(true)">Edit</button>
                        <button mat-button color="warn" (click)="deleteProfile()">Delete</button>
                      </div>
                      <div *ngIf="isEditMode">
                        <button mat-button color="primary" (click)="save()">Save</button>
                        <button mat-button color="warn" (click)="editMode(false)">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
