.demo-table{  
    padding: 1%;
    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
    }
      
    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
    }
      
    .demo-row-is-clicked {
        font-weight: bold;
    }

    td {
        text-align: center !important; 
        vertical-align: middle !important;   
        align-items: flex-start;
             
    }
    th {
        font-weight: bold;
        text-align: center !important; 
        vertical-align: middle !important;
      }
      .accepted {
        color: green;
      }
      
      .denied {
        color: red;
      } 

}