.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .form-container {
    width: 400px; /* Adjust width as needed */
  }
  
  .form {
    padding: 20px;
  }
  
  .button {
    display: flex;
    justify-content: space-between;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
.button{
    display: flex;
    justify-content: space-around;
}  