<!-- <div class="container ">
    <div class="mat-elevation-z8">     
        <div></div>   
        <div  class="close" (click)="sign()">
            <mat-icon>clear</mat-icon>
        </div>

    <div style="display: ruby-text; font-weight: bolder;" class="head">
        <div><u>Error</u></div>

    </div>
    <div class="error">Not Authoraised Person to Login</div>
      
    </div>
     </div>
     -->

     <input type="file" (change)="onFileChange($event)" multiple="false" />
     <table class="sjs-table" style="border: solid;">
         <tbody>
       <tr *ngFor="let row of data" style="border: solid; border-right: solid;">
             <td *ngFor="let val of row"  style=" border-right: solid; ">
                 {{val}}
             </td>
         </tr>
     </tbody>
     </table>