
<mat-dialog-content class="mat-typography">
    <form class="needs-validation" [formGroup]="requestForm" *ngIf="!!requestForm" >
      <div formArrayName="newForm">
        <div class="slx-policy-list" *ngFor="let newForm of newFormArray(); let index = index">
          <div [formGroupName]="index"> 
      <div class="note">
        {{index}} Please fill in the required details for Interpreter! 
      </div>
      
      <div class="row">
  
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="size">
            <mat-label>Case No</mat-label>
            <input matInput type="text" formControlName="caseId" (input)="fetchDatas($event, newForm, index)">
          </mat-form-field>
        </div>  
  
         <div class="col-md-3">
          <mat-form-field appearance="outline" class="size">
            <mat-label>Case Name</mat-label>
            <input matInput type="text" formControlName="caseName" readonly>
          </mat-form-field>
        </div> 
  
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="size">
            <mat-label>Court_Id</mat-label>
            <input matInput type="text" formControlName="courtId" readonly>
          </mat-form-field>
        </div> 
  
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="size">
            <mat-label>Court Location</mat-label>
            <input matInput type="text" formControlName="courtLocation" readonly>
          </mat-form-field>
        </div> 
  
  
      </div>
  
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="size">
            <mat-label>Person Name</mat-label>
            <input matInput type="text" formControlName="personName" readonly>
          </mat-form-field>
        </div> 
  
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="size">
            <mat-label>Person language</mat-label>
            <input matInput type="text" formControlName="languages" readonly>
          </mat-form-field>
        </div> 
  
        <div class="col-md-3">
            <input type="datetime-local" formControlName="CaseDate" class="date" placeholder="datetime">     
        </div> 
         
        <div class="col-md-3" style="display: flex; margin-top: 12px;">
          <!-- <button mat-button color="primary" (click)="fetchCaseDetails()">Case Details</button> -->
        
          <button mat-button color="warn" (click)="remove(index)" >Remove Form</button>
      </div>

      </div>
        </div>  
      </div> 
      </div>   
    </form>
  
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="addForm()">Add Form</button>
    <button mat-button mat-dialog-close color="warn">Cancel</button>
    <button mat-button [mat-dialog-close]="true" mat-button color="primary"  type="submit" [disabled]="requestForm.invalid" (click)="onSubmit()">Send</button>
  </mat-dialog-actions>


 <!-- <app-interpeter-request-form></app-interpeter-request-form> -->