<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/dashboard/admin" routerLinkActive="active" style="color: black;">Home</li>
      <li class="nav-item" routerLink="/dashboard/admin/admin-request" routerLinkActive="active" style="color: black;">Requests</li>
      <li class="nav-item" routerLink="/dashboard/admin/New-interpeter-request" routerLinkActive="active" style="color: black;">New Interpeter Request</li>
      
    </ul>
    <div class="user-info">
      <p style="color: black;">Welcome {{firstName}}</p>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>power_settings_new</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" mat-menu-item class="btn" (click)="auth.logout()">LogOut</button>
      </mat-menu>
    </div>
  </nav>