<app-user-header></app-user-header>

<!-- <p>Hello {{auth.userRole}}</p>
<button (click)="auth.logout()">Logout</button> -->

<div class="body">
<div class="Search">
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Search by Any Values</mat-label>
      <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Search by Any Values">
    </mat-form-field>

    <button mat-raised-button [matMenuTriggerFor]="belowMenu" color="primary" style="margin: 0.6%">
      Download
    </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-button  mat-button style="padding-left: 35px;" (click)="ExpoetExcel()">Excel </button>
        </mat-menu>
  </div>

  <!-- <div class="demo-table table-container mat-elevation-z8" tabindex="0" *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" >

      <ng-container matColumnDef="Court Id">
        <th mat-header-cell *matHeaderCellDef > Court Id </th>
        <td mat-cell *matCellDef="let element"> {{element.courtId}} </td>
      </ng-container>

      <ng-container matColumnDef="Court Location">
        <th mat-header-cell *matHeaderCellDef > Court Location </th>
        <td mat-cell *matCellDef="let element"> {{element.courtLocation}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Case Id">
        <th mat-header-cell *matHeaderCellDef> Case Id </th>
        <td mat-cell *matCellDef="let element"> {{element.caseId}} </td>
      </ng-container>

      <ng-container matColumnDef="Case Name">
        <th mat-header-cell *matHeaderCellDef> Case Name </th>
        <td mat-cell *matCellDef="let element"> {{element.caseName}} </td>
      </ng-container>

      <ng-container matColumnDef="Case Date">
        <th mat-header-cell *matHeaderCellDef> Case Date </th>
        <td mat-cell *matCellDef="let element"> {{element.caseDate | date: 'medium'}} </td>
      </ng-container>
      <ng-container matColumnDef="Person">
        <th mat-header-cell *matHeaderCellDef> Person </th>
        <td mat-cell *matCellDef="let element"> {{element.person}} </td>
      </ng-container>
      <ng-container matColumnDef="Person Language">
        <th mat-header-cell *matHeaderCellDef> Person Language </th>
        <td mat-cell *matCellDef="let element"> {{element.personLanguage}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef > Status </th>
        <td mat-cell *matCellDef="let element" [ngClass]="getStatusColor(element.status)"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="Payment">
        <th mat-header-cell *matHeaderCellDef > Payment </th>
        <td mat-cell *matCellDef="let element" [ngClass]="getStatusColor(element.payment)"> {{element.payment}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; stri"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[15, 35, 55]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div> -->

  <div class="card-container">
    <mat-card *ngFor="let item of filteredData" class="example-card mat-elevation-z8">
      <mat-card-header class="card-header">
        <mat-card-title>Case ID: {{ item.caseId }}</mat-card-title>
        <mat-card-subtitle>Case Type: {{ item.caseName }}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content style="padding-top: 2rem;">
        <div class="row" style="width: 110%;">
          <div class="col">
            <p>
               <b style="font-size: small;">Court ID</b>:
                {{ item.courtId }}
          </p>
          <p> <b style="font-size: small;">Location</b>: {{ item.courtLocation }}</p>
          </div>
          <div class="col">
            <p> <b style="font-size: small;">Language</b>: {{ item.personLanguage }}</p>
            <p> <b style="font-size: small;">Date</b>: {{ item.caseDate | date: 'medium' }}</p>
          </div>
        </div>
      </mat-card-content>
  
      <mat-card-actions class="actions">
        <div class="status">
          <b style="font-size: small;">Status</b>: <span [ngClass]="getStatusColor(item.status)" style="font-size: small;"><b>{{ item.status }}</b></span>
        </div>
        <div class="payment">
          <b style="font-size: small;">Payment</b>: <span [ngClass]="getStatusColor(item.payment)" style="font-size: small;"><b>{{ item.payment }}</b></span>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  
  
  
</div>