<app-admin-header></app-admin-header>
<div class="body">
<div class="Search">
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Search by Any Values</mat-label>
      <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Search by Any Values">
    </mat-form-field>
    </div>
    
    <!-- <section class="demo-table table-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource">
    
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef > Interpeter Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="courtId">
            <th mat-header-cell *matHeaderCellDef > Court Id </th>
            <td mat-cell *matCellDef="let element"> {{element.courtId}} </td>
          </ng-container>
    
          <ng-container matColumnDef="courtLocation">
            <th mat-header-cell *matHeaderCellDef > Location </th>
            <td mat-cell *matCellDef="let element"> {{element.courtLocation}} </td>
          </ng-container>
    
          <ng-container matColumnDef="caseId">
            <th mat-header-cell *matHeaderCellDef > Case Id </th>
            <td mat-cell *matCellDef="let element"> {{element.caseId}} </td>
          </ng-container>
    
          <ng-container matColumnDef="person">
            <th mat-header-cell *matHeaderCellDef > Person </th>
            <td mat-cell *matCellDef="let element"> {{element.person}} </td>
          </ng-container>
    
          <ng-container matColumnDef="personLanguage">
            <th mat-header-cell *matHeaderCellDef > Person Language </th>
            <td mat-cell *matCellDef="let element"> {{element.personLanguage}} </td>
          </ng-container>
    
          <ng-container matColumnDef="caseDate">
            <th mat-header-cell *matHeaderCellDef > Case Date </th>
            <td mat-cell *matCellDef="let element"> {{ element.caseDate | date: 'medium' }} </td>
          </ng-container>      
    
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef > Actions </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{ 'accepted': element.actions === 'Accepted', 'denied': element.actions === 'Denied','Pending': !element.actions || element.actions.trim() === '' }">
              <ng-container *ngIf="!element.actions || element.actions.trim() === ''">
                Pending
              </ng-container>
              <ng-container *ngIf="element.actions && element.actions.trim() !== ''">
                {{ element.actions }}
              </ng-container>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[15,25,35,45,55,65]" showFirstLastButtons aria-label="Select page of element">
        </mat-paginator>
    </section>   -->

    <div class="card-container">
      <mat-card *ngFor="let item of filteredData" class="example-card mat-elevation-z8">
        <mat-card-header class="card-header">
          <mat-card-title style="width: 140%;"> Interpert : {{ item.fullName }}</mat-card-title>
          <mat-card-subtitle>Case ID: {{ item.caseId }}</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content style="padding-top: 2rem;">
          <div class="row"  style="width: 120%;">
            
            <div class="col">
              <p> <b>Person</b>: {{ item.person }}</p>
              <p> <b>Language</b>: {{ item.personLanguage }}</p>
            </div>
            <div class="col">
              <p> <b>Court ID</b>: {{ item.courtId }}</p>
              <p> <b>Location</b>: {{ item.courtLocation }}</p>
            </div>
            <p> <b>Date</b>: {{ item.caseDate | date: 'medium' }}</p>

          </div>
        </mat-card-content>
    
        <mat-card-actions class="actions">
            <b>Request Action:</b>
            <p [ngClass]="{ 'accepted': item.actions === 'Accepted', 'denied': item.actions === 'Denied','Pending': !item.actions || item.actions.trim() === '' }" style=" margin: 10px;"> 
              <ng-container *ngIf="!item.actions || item.actions.trim() === ''">
               <b>Pending</b> 
              </ng-container>
              <ng-container *ngIf="item.actions && item.actions.trim() !== ''">
              <b>{{ item.actions }}</b>  
              </ng-container>
            </p>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>