app-user-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; /* Ensure header has a background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better separation */
}
.body{
  margin: 20px;
}
.Search{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 100px;

  
  .filter{
      width: 93%;
  }
}
// .table-container {
//     // margin-top: 100px; /* Adjust based on the combined height of header and search bar */
//     max-height: calc(85vh - 85px); /* Set max height to fill viewport minus header and search bar */
//     overflow: auto; /* Enable vertical scrolling */
//   }
  
//   .mat-table {
//     width: 100%;
//   }
  
//   .mat-header-row {
//     position: sticky;
//     top: 0;
//     background-color: white;
//     z-index: 800; /* Ensure it's above the table body */
//   }
  
//   .mat-header-cell,
//   .mat-cell {
//     padding: 8px 16px;
//     white-space: nowrap; /* Prevent wrapping content in cells */
//   }
  
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content :flex-start;
  margin: 20px;
  // width: 150%;
}

.example-card {
  flex: 1 0 calc(25% - 20px);
  margin: 10px;
  max-width: calc(25% - 20px);
  min-width: 200px; /* Set a minimum width to prevent content overflow */
}

.mat-card-title,
.mat-card-subtitle,
.mat-card-content p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Truncate long text with an ellipsis */
}
.card-header {
  background-color: #f5f5f5;
  padding: 16px;
}

.mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.mat-card-subtitle {
  font-size: 1em;
  color: #666;
}

.mat-card-content {
  padding: 16px;
  font-size: 0.95em;
}
.accepted {
  color: green;
}

.denied {
  color: red;
}    
th {
  font-weight: bold;
}
// .demo-table{
//     padding: 20px;
      
//     .mat-mdc-row .mat-mdc-cell {
//         border-bottom: 1px solid transparent;
//         border-top: 1px solid transparent;
//         cursor: pointer;
//     }
      
//     .mat-mdc-row:hover .mat-mdc-cell {
//         border-color: currentColor;
//     }
      
//     .demo-row-is-clicked {
//         font-weight: bold;
//     }
//     .btn{
//         font-size: medium;
//     }

//     .but{
//         display: flex;
//         justify-content: space-around;
//     }
//     th,td {
//         text-align: center !important; /* Center the text horizontally */
//         vertical-align: middle !important; /* Center the text vertically */
//     }
    
// }



